@{
    ViewData["Title"] = "Ooops!";
}
<br />
<style>
    img {
        display: block;
        width: 60%;
        height 20%;
    }
</style>

<section class="hero" id="hero">
    <center>
        <center>
            <h1>Sorry, the cat is napping</h1>
            <h4>We will be back soon!</h4>
            <h4>Click <a href="/CC/Login">here</a> to retry login.</h4>
            <img src="~/Cat.jpg" alt="Cat">
        </center>
    </center>
</section>








