@{
    ViewData["Title"] = "Success";
}
<section class="hero" id="hero">
    <center>
        <h1>SUCCESS!!! \(^.^)/</h1>
        <br />
        <h4>@ViewData["Status"]</h4>
        <br />
        <h4><a href="@ViewData["Link"]">Click Here To Visit CloudCard</a></h4>
    </center>
</section>