@{
    ViewData["Title"] = "Home";
}

<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<br />


 
        <h2>Welcome to the C# CloudCard authentication web app.</h2>
        <br />
        <h4>Description:</h4>
        <p>
            <b>Login:</b> The first step of the process will be for the user to fill out the
            form on the login page and submit it. The form can have fields added or
            taken away by the university when they set up the web app on their server.
            Upon submittal, the information will be passed via the url to a working page.
        </p>
        <br />
        <p>
            <b>Working:</b> This page indicates that the authentication connecter is working
            with an animation such as a spinning cog. In the backround of this page the
            connector will draw information from the url and use it to create the user
            and get a CloudCard link. After this is done the user will be redirected to CloudCard
        </p>
        <br />
        <p>
            <b>GetLink:</b> This is a page that displays the custom CloudCard link rather than
            automatically redirecting to CloudCard. This may or may not be used.
        </p>
        <br />
        <p><b>Failure:</b> This page indicates a failure somewhere in the process and allows the user to return to the login page.</p>
        <br />
        <h3>The following is a blueprint of what Tony wants:</h3>
        <img src="BluePrint.png" alt="BluePrint">
       

