@{
    ViewData["Title"] = "Welcome";
}

<h2>Please enter your student info</h2>

<form action="/CC/Working">
    <b>Email:&emsp;&emsp;</b>
        <input type="text" name="email" value="">
    
    <br><br />

        <b>Name:&emsp;&emsp;</b>
        <input type="text" name="Name" value="">
    
    <br><br>

        <b>ID #:&emsp;&emsp;&nbsp;&nbsp;&nbsp;</b>
        <input type="text" name="ID" value="">
    
    <br><br>

        <b>Campus:&ensp;&nbsp;</b>
        <input type="text" name="Campus" value="">
    <br><br>

    <input type="submit" value="Submit">
</form>