@{
    ViewData["Title"] = "...";
}
<br />
<section class="hero" id="hero">
    <center>
        <h1> Please Wait,</h1>

        <h4>We are coming up with something magical.</h4>
    </center>
    </section>