@{
    ViewData["Title"] = "Whoops!";
}

<html>
<body>

    <section class="hero" id="hero">

        <center>
            <h1>Ooops, There's a problem</h1>
            <h4>Sorry, there was a problem with our system.</h4>
            <h4>Click <a href="/CC/Login">here</a> to login.</h4>
        </center>
    </section>





    <div class="Edge"><strong> </strong></div>

    <!-- Main Container Ends -->
</body>
</html>




