@{
    ViewData["Title"] = "Welcome";
}


<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dark Theme</title>

 
        
</head>
<body>

    <div class="container">
        
        <br>
        
        <section class="hero" id="hero">
            <h1>Please enter your student info</h1>

            <p>&nbsp;</p>

            <h6>Secure Sign-in</h6>

            <form action="/CC/Working">
                <b>Email:&emsp;&emsp;</b>
                <input type="text" name="email" value="">

                <br><br />

                <b>Name:&emsp;&emsp;</b>
                <input type="text" name="Name" value="">

                <br><br>

                <b>ID #:&emsp;&emsp;&nbsp;&nbsp;&nbsp;</b>
                <input type="text" name="ID" value="">

                <br><br>

                <b>Campus:&ensp;&nbsp;</b>
                <input type="text" name="Campus" value="">
                <br><br>

                <input type="submit" value="Submit">

            </form>
        </section>
    </div>
</body>
</html>


